.home-container {
  position: absolute;
  top: 55px; /* top = toolbar height + 1*/
  bottom: 1px;
  left: 0;
  right: 0;
  z-index: 0;
  /* background-color: #fafafa; */
  /* max-width: 70rem;
  margin: auto 0 auto auto; */
}


