.main-card {
  max-width: 540px;
}

.example-header-image {
  background-image: url('/assets/images/happy_hour_2.jpg');
  background-size: cover;
}

.co-name {
  font-size: 14px;
  color: #162643;
  font-weight: 600;
}

.event-type {
  font-size: 13px;
}

.event-subtitles {
  display: flex;
}

.event-subtitle {
  display: flex;
  margin-right: 10px;
}

.footer-button {
  min-width: 100px;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 700;
  border: 1px solid #ccd0d5;
}

.button-icon {
  margin-top: 4px;
  margin-right: -8px;
}

.button-icon-going {
  margin-top: 4px;
  margin-right: -4px;
}